# Uppgift 0 - Uppvärmning

In [116]:
import pandas as pd

# importing data to create a dataframe
df_events = pd.read_csv("../Data/athlete_events.csv")

df_regions = pd.read_csv("../Data/noc_regions.csv")

In [117]:
df_events.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [118]:
df_events.isnull().sum().sum() # there is 363853 NaN values in this dataframe

363853

In [119]:
df_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [120]:
df_regions.head()

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN

In [121]:
df_regions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NOC     230 non-null    object
 1   region  227 non-null    object
 2   notes   21 non-null     object
dtypes: object(3)
memory usage: 5.5+ KB

In [122]:
df_regions.isnull().sum().sum() # there is 212 NaN values in this dataframe

212

----
#### a. hur många länder som är med i datan?

In [123]:
countries = df_regions["region"].count()
NaN_countries = df_regions["region"].isnull().sum() # counting the Nan values 
country_count = countries - NaN_countries
print(f"There are {country_count} different Countries in this dataset")

# have to question this as there are for examples of individual olympic athletes and refugee athletes tex

There are 224 different Countries in this dataset

----
#### b. vilka länder är med? (förkortningarna räcker)

In [124]:
countries_list = df_regions["region"].squeeze().dropna()
countries_list.tolist()

['Afghanistan',
 'Curacao',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Antigua',
 'Australia',
 'Argentina',
 'Armenia',
 'Aruba',
 'American Samoa',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bangladesh',
 'Barbados',
 'Burundi',
 'Belgium',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bosnia and Herzegovina',
 'Belize',
 'Belarus',
 'Czech Republic',
 'Boliva',
 'Botswana',
 'Brazil',
 'Bahrain',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Central African Republic',
 'Cambodia',
 'Canada',
 'Cayman Islands',
 'Republic of Congo',
 'Chad',
 'Chile',
 'China',
 'Ivory Coast',
 'Cameroon',
 'Democratic Republic of the Congo',
 'Cook Islands',
 'Colombia',
 'Comoros',
 'Cape Verde',
 'Costa Rica',
 'Croatia',
 'Greece',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'Eritrea',
 'El Salvador',
 'Spain',
 'Estonia',
 'Ethiopia',
 'Russia',
 'Fiji',
 'Finland',
 'France',
 'Germany',
 'Micronesia',
 'Gabon',
 'Gambia',
 'UK',
 'Guinea-Bissau',
 'Germany',
 'Georgia',
 'Equatorial Guinea',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guam',
 'Guyana',
 'Haiti',
 'China',
 'Honduras',
 'Hungary',
 'Indonesia',
 'India',
 'Individual Olympic Athletes',
 'Iran',
 'Ireland',
 'Iraq',
 'Iceland',
 'Israel',
 'Virgin Islands, US',
 'Italy',
 'Virgin Islands, British',
 'Jamaica',
 'Jordan',
 'Japan',
 'Kazakhstan',
 'Kenya',
 'Kyrgyzstan',
 'Kiribati',
 'South Korea',
 'Kosovo',
 'Saudi Arabia',
 'Kuwait',
 'Laos',
 'Latvia',
 'Libya',
 'Liberia',
 'Saint Lucia',
 'Lesotho',
 'Lebanon',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malaysia',
 'Morocco',
 'Malaysia',
 'Malawi',
 'Moldova',
 'Maldives',
 'Mexico',
 'Mongolia',
 'Marshall Islands',
 'Macedonia',
 'Mali',
 'Malta',
 'Montenegro',
 'Monaco',
 'Mozambique',
 'Mauritius',
 'Mauritania',
 'Myanmar',
 'Namibia',
 'Malaysia',
 'Nicaragua',
 'Netherlands',
 'Nepal',
 'Canada',
 'Nigeria',
 'Niger',
 'Norway',
 'Nauru',
 'New Zealand',
 'Oman',
 'Pakistan',
 'Panama',
 'Paraguay',
 'Peru',
 'Philippines',
 'Palestine',
 'Palau',
 'Papua New Guinea',
 'Poland',
 'Portugal',
 'North Korea',
 'Puerto Rico',
 'Qatar',
 'Zimbabwe',
 'Romania',
 'South Africa',
 'Russia',
 'Rwanda',
 'Germany',
 'Samoa',
 'Serbia',
 'Senegal',
 'Seychelles',
 'Singapore',
 'Saint Kitts',
 'Sierra Leone',
 'Slovenia',
 'San Marino',
 'Solomon Islands',
 'Somalia',
 'Serbia',
 'Sri Lanka',
 'South Sudan',
 'Sao Tome and Principe',
 'Sudan',
 'Switzerland',
 'Suriname',
 'Slovakia',
 'Sweden',
 'Swaziland',
 'Syria',
 'Tanzania',
 'Czech Republic',
 'Tonga',
 'Thailand',
 'Tajikistan',
 'Turkmenistan',
 'Timor-Leste',
 'Togo',
 'Taiwan',
 'Trinidad',
 'Tunisia',
 'Turkey',
 'United Arab Emirates',
 'Syria',
 'Uganda',
 'Ukraine',
 'Russia',
 'Uruguay',
 'USA',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Saint Vincent',
 'Vietnam',
 'Trinidad',
 'Yemen',
 'Yemen',
 'Yemen',
 'Serbia',
 'Zambia',
 'Zimbabwe']

----
#### c. vilka sporter är med?

In [158]:
df_sport_types = df_events[["Sport"]].groupby("Sport").sum(True)
df_sport_types
# How to visualize this so i can see the whole

Empty DataFrame
Columns: []
Index: [Aeronautics, Alpine Skiing, Alpinism, Archery, Art Competitions, Athletics, Badminton, Baseball, Basketball, Basque Pelota, Beach Volleyball, Biathlon, Bobsleigh, Boxing, Canoeing, Cricket, Croquet, Cross Country Skiing, Curling, Cycling, Diving, Equestrianism, Fencing, Figure Skating, Football, Freestyle Skiing, Golf, Gymnastics, Handball, Hockey, Ice Hockey, Jeu De Paume, Judo, Lacrosse, Luge, Military Ski Patrol, Modern Pentathlon, Motorboating, Nordic Combined, Polo, Racquets, Rhythmic Gymnastics, Roque, Rowing, Rugby, Rugby Sevens, Sailing, Shooting, Short Track Speed Skating, Skeleton, Ski Jumping, Snowboarding, Softball, Speed Skating, Swimming, Synchronized Swimming, Table Tennis, Taekwondo, Tennis, Trampolining, Triathlon, Tug-Of-War, Volleyball, Water Polo, Weightlifting, Wrestling]

[66 rows x 0 columns]

In [149]:
df_events.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

----
####   d. vilka medaljtyper finns det?

In [260]:
df_medals = df_events[["Medal"]].groupby("Medal").sum(True)
df_medals

Empty DataFrame
Columns: []
Index: [Bronze, Gold, Silver]

----
#### e. ta reda på statistik för åldern: medelvärde, median, min, max, standardavvikelse,

In [242]:
df_age = df_events[["Age"]].dropna(inplace=False).sort_values(by=["Age"])

median = df_age.median()
mean = df_age.mean()
mode = df_age.mode().squeeze()
min_age = df_age.iloc[[0]].squeeze() # Squeeze converts dataframe to a series
max_age = df_age.iloc[[-1]].squeeze()
print(f"The median age is {median.to_string()}")
print(f"The mean age is {mean.to_string()}")
print(f"The mode age is {mode}")
print(f"The minimum age is {min_age}")
print(f"The max age is {max_age}")

The median age is Age    24.0
The mean age is Age    25.556898
The mode age is 23.0
The minimum age is 10.0
The max age is 97.0

----
#### f. utforska datan vidare med egna frågor

In [261]:
df_events.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [263]:
# which event are summer event and which are winter events

df_seasonal = df_events[["Season","Sport"]]
df_seasonal

        Season          Sport
0       Summer     Basketball
1       Summer           Judo
2       Summer       Football
3       Summer     Tug-Of-War
4       Winter  Speed Skating
...        ...            ...
271111  Winter           Luge
271112  Winter    Ski Jumping
271113  Winter    Ski Jumping
271114  Winter      Bobsleigh
271115  Winter      Bobsleigh

[271116 rows x 2 columns]

----
## Se även till att plotta några intressanta features, exempelvis:

----
#### g. diagram över könsfördelningen

----
#### h. diagram över topp 10 länder som tagit flest medaljer

----
#### i. plotta gärna fler saker som är intressant.