## Uppgift 1 - Landstatistik

Ni får ett land tilldelat till er grupp. Börja med att anonymisera kolumnen med idrottarnas namn med
hashfunktionen SHA-256.

Undersök därefter hur det gått för landet i OS genom tiderna. Visualisera exempelvis:

- de sporter landet fått flest medaljer i
- antal medaljer per OS
- histogram över åldrar

Skapa fler plots för att visualisera flera aspekter kring ert land och dess sportprestationer i OS.

In [97]:
import pandas as pd

df_events = pd.read_csv("../Data/athlete_events.csv")

In [98]:
df_events

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [99]:
# Hashing: making the athletes names anonymous using hash function SHA-256
# This is an example of how SHA -256 works
import hashlib
stringToHash = "example@email.com".encode()
print("Email(SHA-256): ", hashlib.sha256(stringToHash).hexdigest())

Email(SHA-256):  36e96648c5410d00a7da7206c01237139f950bed21d8c729aae019dbe07964e7

In [100]:
# Lets try this now on our datafram with the names column

df_events["Name_Hash"] = df_events["Name"].apply(
    lambda x:
        hashlib.sha256(x.encode()).hexdigest()
)

In [101]:
# Sorting so all NOC are Great Britain as country
df_GB = df_events[df_events["NOC"] == "GBR"]
df_GB.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Name_Hash
785,453,Leslie Ablett,M,24.0,NaN,NaN,Great Britain,GBR,1928 Summer,1928,Summer,Amsterdam,Water Polo,Water Polo Men's Water Polo,NaN,068d40aa50057f323cccc9b76161d21e3014635a0bd3b4...
786,453,Leslie Ablett,M,32.0,NaN,NaN,Great Britain,GBR,1936 Summer,1936,Summer,Berlin,Water Polo,Water Polo Men's Water Polo,NaN,068d40aa50057f323cccc9b76161d21e3014635a0bd3b4...
888,509,Gary Abraham,M,17.0,175.0,64.0,Great Britain,GBR,1976 Summer,1976,Summer,Montreal,Swimming,Swimming Men's 100 metres Backstroke,NaN,ad4b525a32fc54f54d6221545f27ff31d81200fa3bc741...
889,509,Gary Abraham,M,17.0,175.0,64.0,Great Britain,GBR,1976 Summer,1976,Summer,Montreal,Swimming,Swimming Men's 4 x 100 metres Medley Relay,NaN,ad4b525a32fc54f54d6221545f27ff31d81200fa3bc741...
890,509,Gary Abraham,M,21.0,175.0,64.0,Great Britain,GBR,1980 Summer,1980,Summer,Moskva,Swimming,Swimming Men's 100 metres Backstroke,NaN,ad4b525a32fc54f54d6221545f27ff31d81200fa3bc741...

In [111]:
df_medals= df_events.loc[df_events["Medal"].notna(),["Sport","Medal"]]
df_medals = df_medals.groupby(["Sport","Medal"]).Medal.count().reset_index(name="Total")
df_medals["Gold"] = df_medals["Medal"].count(name="Gold")
df_medals

TypeError: count() got an unexpected keyword argument 'name'