## Uppgift 1 - Landstatistik

Ni får ett land tilldelat till er grupp. Börja med att anonymisera kolumnen med idrottarnas namn med
hashfunktionen SHA-256.

Undersök därefter hur det gått för landet i OS genom tiderna. Visualisera exempelvis:

- de sporter landet fått flest medaljer i
- antal medaljer per OS
- histogram över åldrar

Skapa fler plots för att visualisera flera aspekter kring ert land och dess sportprestationer i OS.

In [33]:
import pandas as pd

df_events = pd.read_csv("../Data/athlete_events.csv")

In [34]:
df_events

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [35]:
# Hashing: making the athletes names anonymous using hash function SHA-256
# This is an example of how SHA -256 works
import hashlib
stringToHash = "example@email.com".encode()
print("Email(SHA-256): ", hashlib.sha256(stringToHash).hexdigest())

Email(SHA-256):  36e96648c5410d00a7da7206c01237139f950bed21d8c729aae019dbe07964e7

In [36]:
# Lets try this now on our datafram with the names column

df_events["Name_Hash"] = df_events["Name"].apply(
    lambda x:
        hashlib.sha256(x.encode()).hexdigest()
)

In [37]:
# Sorting so all NOC are Great Britain as country
df_GB = df_events[df_events["NOC"] == "GBR"]
df_GB.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Name_Hash
785,453,Leslie Ablett,M,24.0,NaN,NaN,Great Britain,GBR,1928 Summer,1928,Summer,Amsterdam,Water Polo,Water Polo Men's Water Polo,NaN,068d40aa50057f323cccc9b76161d21e3014635a0bd3b4...
786,453,Leslie Ablett,M,32.0,NaN,NaN,Great Britain,GBR,1936 Summer,1936,Summer,Berlin,Water Polo,Water Polo Men's Water Polo,NaN,068d40aa50057f323cccc9b76161d21e3014635a0bd3b4...
888,509,Gary Abraham,M,17.0,175.0,64.0,Great Britain,GBR,1976 Summer,1976,Summer,Montreal,Swimming,Swimming Men's 100 metres Backstroke,NaN,ad4b525a32fc54f54d6221545f27ff31d81200fa3bc741...
889,509,Gary Abraham,M,17.0,175.0,64.0,Great Britain,GBR,1976 Summer,1976,Summer,Montreal,Swimming,Swimming Men's 4 x 100 metres Medley Relay,NaN,ad4b525a32fc54f54d6221545f27ff31d81200fa3bc741...
890,509,Gary Abraham,M,21.0,175.0,64.0,Great Britain,GBR,1980 Summer,1980,Summer,Moskva,Swimming,Swimming Men's 100 metres Backstroke,NaN,ad4b525a32fc54f54d6221545f27ff31d81200fa3bc741...

In [43]:
df_medals= df_GB.loc[df_events["Medal"].notna(),["Sport","Medal"]]
df_medals = df_medals.groupby(["Sport","Medal"]).Medal.count().reset_index(name="Total")
df_medals

                Sport   Medal  Total
0            Alpinism    Gold     12
1             Archery  Bronze      9
2             Archery    Gold      2
3             Archery  Silver      2
4    Art Competitions  Bronze      1
..                ...     ...    ...
104     Weightlifting    Gold      1
105     Weightlifting  Silver      3
106         Wrestling  Bronze     10
107         Wrestling    Gold      3
108         Wrestling  Silver      4

[109 rows x 3 columns]

In [47]:
# Sports that had the most medals
df_medals= df_GB.loc[df_GB["Medal"].notna(),["Sport","Medal"]]
df_medals = df_medals.groupby(["Sport","Medal"]).Medal.count().reset_index(name="Total")
df_medals = df_medals.set_index(['Sport', 'Medal']).unstack('Medal', fill_value=0)
df_medals.columns = df_medals.columns.droplevel(0) # Dropped the Total index column
df_medals = df_medals.rename_axis(None,axis=1)
df_medals["Total Medals"] = df_medals.sum(axis=1, numeric_only= True)
df_medals.sort_values(by="Total Medals",ascending= False)

                           Bronze  Gold  Silver  Total Medals
Sport
Athletics                     127    78     133           338
Rowing                         42   109     119           270
Cycling                        55    59      68           182
Hockey                         82    57      24           163
Sailing                        24    71      48           143
Swimming                       55    23      49           127
Shooting                       34    29      36            99
Equestrianism                  23    26      34            83
Tennis                         19    25      23            67
Boxing                         25    18      13            56
Gymnastics                     46     2       3            51
Football                        1    36       8            45
Tug-Of-War                      8    16      16            40
Polo                            5    11      14            30
Rugby                           0     0      30            30
Water Polo                      1    27       0            28
Fencing                         0     1      27            28
Canoeing                        6     6      10            22
Ice Hockey                     10    12       0            22
Cricket                         0    12       9            21
Figure Skating                 10     6       4            20
Judo                           11     0       8            19
Curling                         4     9       4            17
Wrestling                      10     3       4            17
Bobsleigh                       8     2       4            14
Archery                         9     2       2            13
Diving                          7     2       4            13
Rugby Sevens                    0     0      12            12
Alpinism                        0    12       0            12
Lacrosse                        0     0      12            12
Modern Pentathlon               5     4       2            11
Racquets                        4     3       3            10
Art Competitions                1     3       5             9
Weightlifting                   3     1       3             7
Motorboating                    0     6       0             6
Skeleton                        3     2       1             6
Taekwondo                       3     2       1             6
Badminton                       4     0       2             6
Triathlon                       2     2       1             5
Golf                            1     1       1             3
Jeu De Paume                    1     0       1             2
Short Track Speed Skating       1     0       0             1
Snowboarding                    1     0       0             1
Trampolining                    0     0       1             1

In [58]:
df_years = df_GB[["Games","Medal","Sport"]].sort_values(by="Games",ascending=True)
df_years

              Games   Medal       Sport
63071   1896 Summer     NaN   Wrestling
201805  1896 Summer     NaN   Athletics
157176  1896 Summer     NaN    Shooting
157177  1896 Summer     NaN    Shooting
82822   1896 Summer  Silver   Athletics
...             ...     ...         ...
255872  2016 Summer     NaN    Canoeing
71921   2016 Summer     NaN  Gymnastics
71920   2016 Summer     NaN  Gymnastics
75107   2016 Summer     NaN      Diving
92335   2016 Summer     NaN   Athletics

[12256 rows x 3 columns]

In [46]:
# Antal medal per OS

df_medals= df_GB.loc[df_GB["Medal"].notna(),["Games","Medal"]]
df_medals = df_medals.groupby(["Games","Medal"]).Medal.count().reset_index(name="Total")
df_medals = df_medals.set_index(['Games', 'Medal']).unstack('Medal', fill_value=0)
df_medals.columns = df_medals.columns.droplevel(0) # Dropped the Total index column
df_medals = df_medals.rename_axis(None,axis=1)
df_medals["Total Medals"] = df_medals.sum(axis=1, numeric_only= True)
df_medals.sort_values(by="Total Medals",ascending= False)

             Bronze  Gold  Silver  Total Medals
Games
1908 Summer      90   147     131           368
1912 Summer      59    47      64           170
2016 Summer      26    64      55           145
2012 Summer      48    48      30           126
1920 Summer      17    52      42           111
1900 Summer      15    59      34           108
2008 Summer      25    31      25            81
1984 Summer      42     9      20            71
1924 Summer      19    15      30            64
1948 Summer      12     7      42            61
1928 Summer      24     7      27            58
2004 Summer      15    17      25            57
2000 Summer      12    22      20            54
1988 Summer      15    22      17            54
1992 Summer      39     8       3            50
1980 Summer      24     5      18            47
1956 Summer      22     8      16            46
1906 Summer       8     9      22            39
1936 Summer       8    12      16            36
1932 Summer      14     9      12            35
1976 Summer      11     6      15            32
1924 Winter      11    16       4            31
1952 Summer      26     3       2            31
1972 Summer      12     8       9            29
1960 Summer      15     2      11            28
1964 Summer       5     4      19            28
1996 Summer       9     2      15            26
1968 Summer       5     9       5            19
1936 Winter       4    12       1            17
2014 Winter       5     1       4            10
1896 Summer       3     3       3             9
2002 Winter       1     5       0             6
1998 Winter       4     0       0             4
1994 Winter       3     0       0             3
1984 Winter       0     2       0             2
1964 Winter       0     2       0             2
1948 Winter       2     0       0             2
1904 Summer       0     1       1             2
1980 Winter       0     1       0             1
1976 Winter       0     1       0             1
1952 Winter       0     1       0             1
2006 Winter       0     0       1             1
1928 Winter       1     0       0             1
2010 Winter       0     1       0             1