## Uppgift 1 - Landstatistik

Ni får ett land tilldelat till er grupp. Börja med att anonymisera kolumnen med idrottarnas namn med
hashfunktionen SHA-256.

Undersök därefter hur det gått för landet i OS genom tiderna. Visualisera exempelvis:

- de sporter landet fått flest medaljer i
- antal medaljer per OS
- histogram över åldrar

Skapa fler plots för att visualisera flera aspekter kring ert land och dess sportprestationer i OS.

In [162]:
import pandas as pd

df_events = pd.read_csv("../Data/athlete_events.csv")

In [163]:
df_events

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [164]:
# Hashing: making the athletes names anonymous using hash function SHA-256
# This is an example of how SHA -256 works
import hashlib
stringToHash = "example@email.com".encode()
print("Email(SHA-256): ", hashlib.sha256(stringToHash).hexdigest())

Email(SHA-256):  36e96648c5410d00a7da7206c01237139f950bed21d8c729aae019dbe07964e7

In [165]:
# Lets try this now on our datafram with the names column

df_events["Name_Hash"] = df_events["Name"].apply(
    lambda x:
        hashlib.sha256(x.encode()).hexdigest()
)

In [166]:
# Sorting so all NOC are Great Britain as country
df_GB = df_events[df_events["Team"] == "Great Britain"]
df_GB.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Name_Hash
785,453,Leslie Ablett,M,24.0,NaN,NaN,Great Britain,GBR,1928 Summer,1928,Summer,Amsterdam,Water Polo,Water Polo Men's Water Polo,NaN,068d40aa50057f323cccc9b76161d21e3014635a0bd3b4...
786,453,Leslie Ablett,M,32.0,NaN,NaN,Great Britain,GBR,1936 Summer,1936,Summer,Berlin,Water Polo,Water Polo Men's Water Polo,NaN,068d40aa50057f323cccc9b76161d21e3014635a0bd3b4...
888,509,Gary Abraham,M,17.0,175.0,64.0,Great Britain,GBR,1976 Summer,1976,Summer,Montreal,Swimming,Swimming Men's 100 metres Backstroke,NaN,ad4b525a32fc54f54d6221545f27ff31d81200fa3bc741...
889,509,Gary Abraham,M,17.0,175.0,64.0,Great Britain,GBR,1976 Summer,1976,Summer,Montreal,Swimming,Swimming Men's 4 x 100 metres Medley Relay,NaN,ad4b525a32fc54f54d6221545f27ff31d81200fa3bc741...
890,509,Gary Abraham,M,21.0,175.0,64.0,Great Britain,GBR,1980 Summer,1980,Summer,Moskva,Swimming,Swimming Men's 100 metres Backstroke,NaN,ad4b525a32fc54f54d6221545f27ff31d81200fa3bc741...

In [167]:
df_medals= df_GB.loc[df_events["Medal"].notna(),["Sport","Medal"]]
df_medals = df_medals.groupby(["Sport","Medal"]).Medal.count().reset_index(name="Total")
df_medals

               Sport   Medal  Total
0           Alpinism    Gold     12
1            Archery  Bronze      9
2            Archery    Gold      2
3            Archery  Silver      2
4   Art Competitions  Bronze      1
..               ...     ...    ...
93     Weightlifting    Gold      1
94     Weightlifting  Silver      3
95         Wrestling  Bronze     10
96         Wrestling    Gold      3
97         Wrestling  Silver      4

[98 rows x 3 columns]

In [168]:
# Sports that had the most medals
df_medals= df_GB.loc[df_GB["Medal"].notna(),["Sport","Medal"]]
df_medals = df_medals.groupby(["Sport","Medal"]).Medal.count().reset_index(name="Total")
df_medals = df_medals.set_index(['Sport', 'Medal']).unstack('Medal', fill_value=0)
df_medals.columns = df_medals.columns.droplevel(0) # Dropped the Total index column
df_medals = df_medals.rename_axis(None,axis=1)
df_medals["Total Medals"] = df_medals.sum(axis=1, numeric_only= True)
#df_medals = df_medals.reindex(columns=['Bronze','Silver','Gold','Total Medals'])
df_medals.sort_values(by="Total Medals",ascending= False)
df_medals

                           Bronze  Gold  Silver  Total Medals
Sport
Alpinism                        0    12       0            12
Archery                         9     2       2            13
Art Competitions                1     3       5             9
Athletics                     127    74     133           334
Badminton                       2     0       0             2
Bobsleigh                       8     0       0             8
Boxing                         25    18      13            56
Canoeing                        6     4       8            18
Curling                         4     9       4            17
Cycling                        55    59      55           169
Diving                          7     2       4            13
Equestrianism                  23    26      34            83
Fencing                         0     1      27            28
Figure Skating                  6     4       2            12
Football                        0    25       0            25
Golf                            1     1       1             3
Gymnastics                     46     2       3            51
Hockey                         60    46      12           118
Ice Hockey                     10    12       0            22
Jeu De Paume                    1     0       1             2
Judo                           11     0       8            19
Lacrosse                        0     0      12            12
Modern Pentathlon               5     4       2            11
Polo                            4     4       4            12
Racquets                        2     1       1             4
Rowing                         33    85      99           217
Rugby Sevens                    0     0      12            12
Sailing                        12    26      24            62
Shooting                       28    23      36            87
Short Track Speed Skating       1     0       0             1
Skeleton                        3     2       1             6
Snowboarding                    1     0       0             1
Swimming                       55    23      49           127
Taekwondo                       3     2       1             6
Tennis                          8    14      12            34
Trampolining                    0     0       1             1
Triathlon                       2     2       1             5
Tug-Of-War                      0     8       8            16
Water Polo                      0    21       0            21
Weightlifting                   3     1       3             7
Wrestling                      10     3       4            17

In [169]:
# Antal medal per OS

df_years= df_GB.loc[df_GB["Medal"].notna(),["Games","Medal"]]
df_years = df_years.groupby(["Games","Medal"]).Medal.count().reset_index(name="Total")
df_years = df_years.set_index(['Games', 'Medal']).unstack('Medal', fill_value=0)
df_years.columns = df_years.columns.droplevel(0) # Dropped the Total index column
df_years = df_years.rename_axis(None,axis=1)
df_years["Total Medals"] = df_years.sum(axis=1, numeric_only= True)
#df_years = df_years[df_years.columns.reindex(['Bronze','Silver','Gold','Total Medals'])[0]]
df_years.sort_values(by="Total Medals",ascending= False)
df_years

             Bronze  Gold  Silver  Total Medals
Games
1896 Summer       2     2       3             7
1900 Summer       7     9       6            22
1904 Summer       0     1       1             2
1906 Summer       8     9      14            31
1908 Summer      34    69      64           167
1912 Summer      57    36      35           128
1920 Summer      15    46      40           101
1924 Summer      17    15      23            55
1924 Winter      11    16       0            27
1928 Summer      24     7      27            58
1928 Winter       1     0       0             1
1932 Summer      14     9      10            33
1936 Summer       7     7      16            30
1936 Winter       4    12       1            17
1948 Summer      12     5      42            59
1948 Winter       2     0       0             2
1952 Summer      26     3       2            31
1952 Winter       0     1       0             1
1956 Summer      17     8      12            37
1960 Summer      15     2      11            28
1964 Summer       5     4      17            26
1968 Summer       5     9       5            19
1972 Summer      12     8       9            29
1976 Summer      11     6      15            32
1976 Winter       0     1       0             1
1980 Summer      24     5      18            47
1980 Winter       0     1       0             1
1984 Summer      42     9      20            71
1988 Summer      15    22      17            54
1992 Summer      39     8       3            50
1994 Winter       3     0       0             3
1996 Summer       9     2      15            26
1998 Winter       4     0       0             4
2000 Summer      10    22      20            52
2002 Winter       1     5       0             6
2004 Summer      15    17      23            55
2006 Winter       0     0       1             1
2008 Summer      25    31      25            81
2010 Winter       0     1       0             1
2012 Summer      48    46      28           122
2014 Winter       5     1       4            10
2016 Summer      26    64      55           145

In [170]:
df_GB.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Name_Hash
785,453,Leslie Ablett,M,24.0,NaN,NaN,Great Britain,GBR,1928 Summer,1928,Summer,Amsterdam,Water Polo,Water Polo Men's Water Polo,NaN,068d40aa50057f323cccc9b76161d21e3014635a0bd3b4...
786,453,Leslie Ablett,M,32.0,NaN,NaN,Great Britain,GBR,1936 Summer,1936,Summer,Berlin,Water Polo,Water Polo Men's Water Polo,NaN,068d40aa50057f323cccc9b76161d21e3014635a0bd3b4...
888,509,Gary Abraham,M,17.0,175.0,64.0,Great Britain,GBR,1976 Summer,1976,Summer,Montreal,Swimming,Swimming Men's 100 metres Backstroke,NaN,ad4b525a32fc54f54d6221545f27ff31d81200fa3bc741...
889,509,Gary Abraham,M,17.0,175.0,64.0,Great Britain,GBR,1976 Summer,1976,Summer,Montreal,Swimming,Swimming Men's 4 x 100 metres Medley Relay,NaN,ad4b525a32fc54f54d6221545f27ff31d81200fa3bc741...
890,509,Gary Abraham,M,21.0,175.0,64.0,Great Britain,GBR,1980 Summer,1980,Summer,Moskva,Swimming,Swimming Men's 100 metres Backstroke,NaN,ad4b525a32fc54f54d6221545f27ff31d81200fa3bc741...

In [171]:
df_age = df_GB.loc[df_GB["Age"].notna(),["Age"]]
df_age = df_age.groupby(["Age"]).Age.count().reset_index(name="Total")
df_age
df_age['Age'] = df_age['Age'].astype('Int64')
df_age

    Age  Total
0    11      2
1    12      2
2    13     10
3    14      4
4    15     75
..  ...    ...
59   70     10
60   72      6
61   73      2
62   76      4
63   84      1

[64 rows x 2 columns]

In [172]:
import plotly.express as px

fig = px.histogram(df_age, x="Age", y="Total", nbins=84, labels={
                   "sum of Total": "Total athletes", "Age": "Age of athlete"},
                   title="Ages of participating Athletes from Great Britain who competed in the previous Olympics")

fig.show()

In [196]:
# Finding average height in each sport. which sports had the tallest heights

df_heights = df_GB[["Sport", "Height"]]
# dropping the rows that have na in the height
df_heights = df_heights.dropna(subset=["Height"])
df_heights = df_heights.groupby(["Sport"]).Height.mean().reset_index().round(
    decimals=2).sort_values("Height", ascending=False)
df_heights.head()

         Sport  Height
5   Basketball  191.92
48  Volleyball  187.00
32      Rowing  185.08
49  Water Polo  182.61
45      Tennis  182.46

In [197]:
heights = px.bar(df_heights, x="Sport", y="Height",
             title="Average height of Great Britain's athletes in relevance to sport")

heights.show()

In [201]:
df_height_weight = df_GB[["Sport", "Height","Weight"]]
# dropping the rows that have na in the height
df_height_weight = df_height_weight.dropna()
df_height_weight

           Sport  Height  Weight
888     Swimming   175.0    64.0
889     Swimming   175.0    64.0
890     Swimming   175.0    64.0
891     Swimming   175.0    64.0
892     Swimming   175.0    64.0
...          ...     ...     ...
267916   Fencing   183.0    80.0
267917   Fencing   183.0    80.0
268071   Fencing   186.0    76.0
268072   Fencing   186.0    76.0
270011    Rowing   180.0    72.0

[7509 rows x 3 columns]

In [202]:
fig = px.scatter(df_height_weight)

fig.show()

ValueError: Plotly Express cannot process wide-form data with columns of different type.